@import '../../../assets/styles/utils/index.scss';

.button {
    white-space: nowrap;
    width: 176px;
    height: 45px;
    border: 1px solid $gigas;
    outline: none;
    text-transform: uppercase;
    color: $gigas;
    font-weight: 700;
    background: transparent;
    cursor: pointer;
    font-size: 8px;

    &.active {
        color: $shuttle-gray;
        border-color: $shuttle-gray;
    }
}