.content {
    padding-bottom: 87px;
}

.titleRow {
    color: #5C6A79;
    
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    text-align: left;
}

.title{
    width: 25% ;
    padding-bottom: 30px;
}

.price {
    text-align: left;
}

.checkout {
    text-align: left;
    margin-top: 20px;
}