.price {
    color: #1C2A39;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}


.block {
    text-align: left;
    padding-bottom: 77px;
}

.block1 {
    width: 40% ;
}

.countInput {
    text-align: center;
    border: none;
    width: 95px; 
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}

.counter {
    display: flex;
    height: 45px;
    border: solid 1px #EEEDF5;
    width: max-content;
    padding-left: 16px;
    padding-right: 16px;
    align-items: center;
}