.price {
    color: #1C2A39;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}

.block {
    padding-bottom: 70px;
}

.block1 {
    padding-left: 122px;
    padding-bottom: 70px;
}

.block2 {
    padding-left: 102px;
    padding-bottom: 70px;
}

.block3 {
    padding-left: 198px;
    padding-bottom: 70px;
}

