@import '../../assets/styles/utils/index.scss';


.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}

.promo_stiker {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    z-index: 1;
    &_1 {
        top: 0;
        right: 135px;
    }
    &_2 {
        bottom: 0;
        right: -42px;
    }
}

.sticker__first {
    @include promo-stiker();
    position: absolute;
    top: 82px;
    right: -87px;
    width: 149px;
    height: 204px;
    background-color: #9e98dc;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    
    @media screen and (max-width: 425px) {
        display: none;
    }
}

.sticker__second {
    @include promo-stiker();
    width: 137px;
    height: 273px;
    background-color: #ff8fe6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;


    @media screen and (max-width: 425px) {
        display: none;
    }
}

.sticker__text {
    text-transform: uppercase;
    text-decoration: none;
    color: #1C2A39;
    font-weight: 700;
    font-size: 18px;
}

.sticker__svg {
    width: 57px;
    height: 14px;
}

.intro {
    padding-bottom: 105px;

    .container {
        position: relative;
    }

    &__swiper {
        &-img {
            width: 100%;
        }

        &-pagination {
            position: static;
            margin-top: 20px;

            .swiper-pagination-bullet-active {
                background: $cold-purple;
            }
        }
    }

    &__block {
        position: absolute;

        &-1 {
            z-index: 999;
            top: 79px;
            right: 0;
            transform: translateX(50%);
            padding: 102px 20px 36px;
            background-color: $cold-purple;

            &-title {
                max-width: 109px;
            }
        }

        &-2 {
            z-index: 999;
            top: 379px;
            right: 0;
            transform: translateX(120%);
            padding: 149px 90px 36px 38px;
            background-color: $lavendor-rose;
            max-width: 69px;
        }

        &-title {
            font-size: 18px;
            text-transform: uppercase;
        }
    }
}
